@import url('https://rsms.me/inter/inter.css');
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: black;
}

.groupSelectionOne {
    position: fixed;
    padding: 10px 0;
    top: 1vh;
    left: 1vw;
    height: 6vh;
    width: 48vw;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group {
    flex-basis: 10%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px 10px;
}

.selected {
    background: black;
    color: white;
}

.groupSelectionTwo {
    position: fixed;
    padding: 10px 0;
    top: 1vh;
    left: 51vw;
    height: 6vh;
    width: 48vw;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fighterOne {
    position: fixed;
    padding: 10px 0;
    top: 10vh;
    left: 1vw;
    width: 48vw;
    height: 86vh;
    border: 2px solid black;
    overflow: auto;
    text-align: center;
}

.fighterTwo {
    position: fixed;
    padding: 10px 0;
    top: 10vh;
    left: 51vw;
    width: 48vw;
    height: 86vh;
    border: 2px solid black;
    overflow: auto;
    text-align: center;
}

.card {
    margin: 0.5vh 0.25vh 0 0.25vh;
    display: inline-block;
    background-color: transparent;
    width: 22vw;
    height: 25vh;
    cursor: pointer;
    padding: 0.5vw;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 2s;
    transform-style: preserve-3d;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.turn {
    transform: rotateY(180deg);
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-weight: 600;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cardBigOne {
    position: fixed;
    top: 50%;
    left: 1%;
    display: none;
    transform: translate(0, -50%);
    background-color: white;
    width: 60vw;
    height: 60vh;
    border: 3px solid black;
    font-size: 2vw;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cardBigOne p {
    cursor: pointer;
}

.cardBigTwo {
    position: fixed;
    top: 50%;
    right: 1%;
    display: none;
    transform: translate(0, -50%);
    background-color: white;
    width: 60vw;
    height: 60vh;
    opacity: 1;
    border: 3px solid black;
    font-size: 2vw;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cardBigTwo p {
    cursor: pointer;
}